<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>レビュー一覧</title>   
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                 <ol class="breadcrumb mb-0">                        
                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/restaurants}">店舗一覧</a></li>
                                     <li class="breadcrumb-item"><a th:href="@{/restaurants/__${restaurant.getId()}__}">店舗詳細</a></li>
                                     <li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
                                 </ol>
                             </nav> 
                            
                             <h1 class="mb-4 text-center" th:text="${restaurant.getName()}">レビュー一覧</h1>                                                              
                                     <!-- レビュー機能 -->
                                    <div> 
	                                     <h2 class="mb-4 text-center">レビュー一覧</h2>
	                                     <div class="container">
											<div class="row align-items-start"> 
				                             	<div th:if="${!#lists.isEmpty(reviewPage.getContent())}" th:action="@{/restaurants/{id}/review(id=${restaurant.getId()})}">
												　  <div class="row justify-content-evenly">
				                                    	<div class="col-md-6 mb-3" th:each="review : ${reviewPage}">
				                                        	<div class="review-item">
																	<span class="font-weight-bold " th:text="${review.user.name}">
																	<!--	<a th:href="@{/review/reviewedit}" class="btn text-white shadow-sm w-50 nagoyameshi-btn float-right">投稿</a>
	                                                                    <a th:href="@{/review/reviewpost}" class="btn text-white shadow-sm w-50 nagoyameshi-btn float-right">編集</a> -->
																	</span><br>
																	
																	<div class="star-rating">
					                                                	<span th:each="i: ${#numbers.sequence(1, review.score)}">&#9733;</span>
                                                                        <span th:unless="${review.score == 5}" th:each="i: ${#numbers.sequence(review.score + 1, 5)}">&#9734;</span>
																	</div>
																		
					                                                <p th:text="${review.createdAt}"></p>
					                                                <p th:text="${review.content}"></p>                                       
				                                            </div>
				                                        </div>
												　  </div>
			                                    </div>
		                                    	<div th:if="${reviewPage.totalElements == 0}">
		                                       		<p class="text-center">レビューがありません。</p>
		                                    	</div>
		                                    	    <!-- ページネーション -->
					                             <div th:if="${reviewPage.getTotalPages() > 1}" class="d-flex justify-content-center">
					                                 <nav aria-label="レビュ一覧ページ">
					                                     <ul class="pagination">
					                                         <li class="page-item">
					                                             <span th:if="${reviewPage.isFirst()}" class="page-link disabled">前</span>
					                                             <a th:unless="${reviewPage.isFirst()}" th:href="@{/restaurants/{id}/review(id=${restaurant.id}, page = ${reviewPage.getNumber() - 1})}" class="page-link nagoyameshi-page-link">前</a>
					                                         </li>
					                                         <li th:each="i : ${#numbers.sequence(0, reviewPage.getTotalPages() - 1)}" class="page-item">
					                                             <span th:if="${i == reviewPage.getNumber()}" class="page-link active nagoyamehsi-active" th:text="${i + 1}"></span>
					                                             <a th:unless="${i == reviewPage.getNumber()}" th:href="@{/restaurants/{id}/review(id=${restaurant.id}, page = ${i})}" class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
					                                         </li>
					                                         <li class="page-item">                        
					                                             <span th:if="${reviewPage.isLast()}" class="page-link disabled">次</span>
					                                             <a th:unless="${reviewPage.isLast()}" th:href="@{/restaurants/{id}/review(id=${restaurant.id}, page = ${reviewPage.getNumber() + 1})}" class="page-link nagoyameshi-page-link">次</a>
					                                         </li>
					                                     </ul>
					                                 </nav> 
					                             </div>                                 
		                                    	
											</div>    		
	                                     </div>
	                                </div>    
                         </div>
                     </div>
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
   </body>
 </html>