<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div> 
         
         <title>リセットパスワード</title>       
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container">
					 <h2>新しいパスワードを設定</h2>
					 <form th:action="@{/resetpassword}" method="post">
						 <div class="form-group">
							 <label for="newPassword">新しいパスワード:</label>
							 <input type="password" id="newPassword" name="newPassword" class="form-control" required>
						 </div>
						 <input type="hidden" name="token" th:value="${token}">
						 <button type="submit" class="btn btn-primary">リセット</button>
					 </form>
				 </div>             
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>         
     </body>
 </html>