<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div> 
         
         <title>リセットリクエスト</title>       
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container">
					 <h2>パスワードリセット</h2>
					 
					 <!-- メッセージ表示部分 -->
               　　　 <div th:if="${message}" th:text="${message}" class="alert alert-info"></div>

					 <form th:action="@{/resetpassword/request}" method="post">
						 <div class="form-group">
							 <label for="email">メールアドレス:</label>
							 <input type="email" id="email" name="email" class="form-control" required>
						 </div>
						 <button type="submit" class="btn btn-primary">送信</button>
					 </form>
				 </div>             
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>         
     </body>
 </html>