<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>利用規約編集</title>       
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">
                             
                             <h1 class="mb-4 text-center">利用規約編集</h1>         
                             
                             <form method="post" th:action="@{/com/terms/{id}/termsedit(id=${termsEditForm.id})}" th:object="${termsEditForm}" enctype="multipart/form-data">   
                                 <input type="hidden" th:field="*{id}">
                                                                                          
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="article1" class="col-form-label text-md-left fw-bold">条項1</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('article1')}" class="text-danger small mb-2" th:errors="*{article1}"></div>                                    
                                         <textarea class="form-control" th:field="*{article1}"></textarea>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="article2" class="col-form-label text-md-left fw-bold">条項2</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('article2')}" class="text-danger small mb-2" th:errors="*{article2}"></div>                                    
                                         <textarea class="form-control" th:field="*{article2}"></textarea>
                                     </div>
                                 </div>
                                 
                                 <div class="form-group row mb-3">
                                     <div class="col-md-4">
                                         <label for="article3" class="col-form-label text-md-left fw-bold">条項3</label>
                                     </div>
                                     <div class="col-md-8">                                    
                                         <div th:if="${#fields.hasErrors('article3')}" class="text-danger small mb-2" th:errors="*{article3}"></div>                                    
                                         <textarea class="form-control" th:field="*{article3}"></textarea>
                                     </div>
                                 </div>
                                                                                                                         
                                 
                                 <div class="form-group d-flex justify-content-center my-4">
                                     <button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">更新</button>
                                 </div>
                             </form>                                                                         
                         </div>
                     </div>
                 </div>                 
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>  
         <script th:src="@{/js/preview.js}"></script>     
     </body>
 </html>