 html {
   font-size: 14px;
 }
 
 body {
   font-family: 'Noto Sans JP', sans-serif;  
 }
 
 h1 {
   font-size: 1.5rem;
 }
 
 a {
   color: #a66851;
   text-decoration: none !important;
 }
 
 a:hover {
     color: #a67651;
 }
 
 footer {
   width: 100%;
   height: 60px;
   position: absolute;
   bottom: 0;    
   background-color: #f2f0eb;
 }
 
 .nagoyameshi-wrapper {
   min-height: 100vh;
   position: relative;
   padding-bottom: 60px;
   box-sizing: border-box;
 }
 
 .nagoyameshi-navbar {
   min-height: 20px;
 }
 
 .nagoyameshi-logo {
   height: 50px;
     
 }
 
 .nagoyameshi-btn {
   background-color: #a67951 !important;   
   transition: 0.1s;
 }
 
 .nagoyameshi-btn:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-page-link {
   color: #a66851;
 }
 
 .nagoyameshi-btn:hover {
   color: #a67651;
 }
 
 .nagoyameshi-active {
   background-color: #a66851 !important;
   border-color: #a66851 !important;
 }
 
 .nagoyameshi-pre-wrap {
   /*改行文字で行を折り返す*/
   white-space: pre-wrap;
 }
 
 .nagoyameshi-link-danger {
     color: #f2594b;
 }
 
 .nagoyameshi-link-danger:hover {
     color: #a63c3c;
 }
 
 .nagoyameshi-btn-danger {
     background-color: #f2594b !important;
     transition: 0.1s;
 }
 
 .nagoyameshi-btn-danger:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-dropdown-item:active {
	 background-color: #a66851;
 }

 
 @media screen and (min-width: 1400px) {
   .nagoyameshi-container {
     max-width: 1200px;
   }
 }