<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
              
        <div th:replace="~{fragment :: styles}"></div>
      	
        <title>NAGOYAMESHI</title>	
    </head>
    <body>
        <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div th:if="${param.loggedIn}" class="alert alert-info">
                         ログインしました。
                     </div>  
                     
                     <div th:if="${param.loggedOut}" class="alert alert-info">
                         ログアウトしました。
                     </div>
                     
                     <div th:if="${successMessage}" class="alert alert-info">
                         <span th:text="${successMessage}"></span>
                     </div>
                     
                     <div class="d-flex justify-content-center">                                            
                         <form method="get" th:action="@{/restaurants}" class="mb-5 nagoyameshi-search-form">
                             <div class="input-group">
                                 <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名・目的地">
                                 <button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button> 
                             </div>               
                         </form>                        
                     </div>                                                                                                  
                                                      
                     <h2 class="text-center mb-3">新着</h2>
                     <div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">                                        
                         <div class="col" th:each="newRestaurant : ${newRestaurants}">
                             <a th:href="@{/restaurants/__${newRestaurant.getId()}__}" class="link-dark nagoyameshi-card-link">
                                 <div class="card h-100">                                                                        
                                     <img th:if="${newRestaurant.getImageName()}" th:src="@{/storage/__${newRestaurant.getImageName()}__}" class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">                                     
                                     <img th:unless="${newRestaurant.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">                                                                                                                        
                                     <div class="card-body">                                    
                                         <h3 class="card-title" th:text="${newRestaurant.getName()}"></h3>
                                         <p class="card-text mb-1">
                                             <small class="text-muted" th:text="${newRestaurant.getAddress()}"></small>                                            
                                         </p>
                                         <p class="card-text">
                                             <span th:text="${#numbers.formatInteger(newRestaurant.getPrice(), 1, 'COMMA') + '円'}"></span>                                            
                                         </p>                                    
                                     </div>
                                 </div>    
                             </a>            
                         </div>                                               
                     </div>
                     
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">                    
                     
                             <h2 class="text-center mb-3">住所から探す</h2>                                        
                              
                             <table class="table">
                                 <tbody>                                                     
                                     <tr>
                                         <th>愛知県名古屋市</th>
                                         <td>
                                             <a th:href="@{/restaurants?address=}">西五条東</a>
                                             <a th:href="@{/restaurants?address=}">西五条西</a>
                                             <a th:href="@{/restaurants?address=}">西五条南</a>
                                             <a th:href="@{/restaurants?address=}">西五条北</a>
                                         </td>                                     
                                     </tr>                                                                                                                                                                                                                                                                                                      
                                 </tbody>
                             </table>  
                         </div>
                     </div>       
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>
    </body>
</html>
